<!--Navbar-->
<nav class="navbar navbar-default fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Guitarists United!</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/">Home<span class="sr-only">(current)</span></a></li>
        <!--<li class="active"><a routerLink="/profile">My Profile<span class="sr-only">(current)</span></a></li>-->
        <li class="active"><a routerLink="/convert">ChordPro</a></li>
        <li *ngIf="auth.authenticated()" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Account<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li *ngIf="auth.authenticated()"><a routerLink="/profile">My Profile</a></li>
            <li *ngIf="auth.authenticated()"><a routerLink="/songbook">My Song Book</a></li>
            <li class="divider"></li>
            <li *ngIf="auth.authenticated()"><a routerLink="/group">My Groups and Shared Content</a></li>
            <li class="divider"></li>
            <li *ngIf="auth.authenticated()"><a routerLink="/editProfile">Edit my Profile</a></li>
          </ul>
        </li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
        <li class="active"><a (click)="auth.login()" *ngIf="!auth.authenticated()" role="button">Login/Signup</a></li>
        <li class="active"><a  (click)="auth.logout()" *ngIf="auth.authenticated()" role="button" >Logout</a></li>
    </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

